.connections-header {
  position: relative;
  bottom: 67px;
  left: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.connections-header__title {
  font-size: 24px;
}

.connections-header__image {
  border-radius: 50%;
  height: 43px;
}

.connections-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  bottom: 30px;
  padding-left: 17px;
  border: unset;
}

.connection-user {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 5px 5px;
  height: 10rem;
  min-width: 130px;
  width: 130px;
}

.connection-user__image {
  border-radius: 50%;
}

.connection-user__name {
  top: 10px;
  position: relative;
  font-size: 13px;
  text-align: center;
}

.button-contacts {
  position: relative;
  top: 13px;
  justify-content: center;
  display: flex;
}

.pagination {
  margin: 0px 19px;
}
