.container-auth {
  display: flex;
  justify-content: center;
}

.container-auth__image {
  height: 500px;
  width: 600px;
}

.container-auth__form {
  position: relative;
  left: 4rem;
  top: 8rem;
  height: 13rem;
  padding: 4rem 5rem;
  border: 1px solid black;
  background-color: #b7b1b1;
}

input {
  margin: 4px 0;
  text-indent: 3px;
  border: 1px solid #585858;
  height: 26px;
  border-radius: 3px;
  width: 260px;
}

#rememberMe {
  width: 20px;
  padding-right: 10px;
  margin-right: 10px;
}

.checkbox-rememberme {
  display: flex;
  font-size: 12px;
  align-items: center;
  position: relative;
  top: 5px;
  right: 3px;
}

.error {
  font-size: 12px;
  border: 1px solid black;
  background-color: #ff0000b3;
  position: relative;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  width: 150px;
  margin-top: 20px;
}

.login {
  margin-top: 10px;
}
